section { padding: 2em; }

h1:before, h1:after {
    content: "";
    flex: 1;
    border-top: 7px double #ED1C22;
}
h1:before { margin-right: .3em; }
h1:after { margin-left: .3em; }

.pres-img { 
    width: 100%;
    margin-bottom: 2em;
}

.btn-group {
    display: flex;
}

.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 15px 30px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.btn:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.btn-1 {
	border: 3px solid #ED1C22;
	color: #ED1C22;
}
.btn-1a:hover,
.btn-1a:active {
	color: #ffffff;
	background: #ED1C22;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 767px) {
    .founder-pic, .founder-vid { width: 100%; }
    .founder-vid { height: 384px; }
}

@media (min-width: 576px) { .card { max-width: 45%; } }
@media (min-width: 768px) { .card { max-width: 29.2%; } }
@media (min-width: 992px) { .card { max-width: 22%; } }
@media (min-width: 1200px) { .card { max-width: 17.4%; } }