section { padding: 2em; }

h2:before, h2:after {
    content: "";
    flex: 1;
    border-top: 7px double #ED1C22;
}
h2:before { margin-right: .3em; }
h2:after { margin-left: .3em; }

.pres-img { 
	margin: 0 auto 1em;
	width: 66%;
	display: flex;
}

.carousel-inner img {
    width: 100%;
	height: 100%;
	transform: translateY(-25%);
}

.house-vid {
	text-align: center;
}

/* BUTTONS */

.btn-group {
	display: block;
	text-align: center;
	margin: 0 auto 1em;
}

.btn-red {
	width: 250px;
	border: 3px solid #ED1C22;
	color: #ED1C22;
	padding: 15px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	position: relative;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}
.btn-2 { width: 300px; }
.btn-3 { width: 425px; }

.btn-red:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

.btn-red:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.btn-fx:after {
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	background: #ED1C22;
}

.btn-fx:hover, .btn-fx:active {	
	color: #ffffff; 
	text-decoration: none;
}
.btn-fx:hover:after, .btn-fx:active:after {	height: 100%; }

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
    .btn-red {
		display: block;
		width: 100%;
		margin: 15px auto;
	}
}