section { 
	padding: 2em;
	font-family: 'Lato', sans-serif;
}

.impact-h2 {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.impact-h2:before, .impact-h2:after {
    content: "";
    flex: 1;
    border-top: 7px double #ED1C22;
}
.impact-h2:before { margin-right: .3em; }
.impact-h2:after { margin-left: .3em; }

.impact-img-contain { 
	margin: 0 auto 1em;
	max-height: 50vh;
	min-height: 300px;
	display: flex;
}
.impact-img { 
	margin: inherit;
	object-fit: cover;
	overflow: auto;
}

.hb-media { text-align: center; }
.hb-vid { 
	display: inline-block; 
	margin: 1em 0;
}

.carousel {
	height: 380px;
	width: 380px;
	display: inline-block;
	margin: 1em 1em 1em 0;
}
.carousel-inner {
	max-height: 380px !important;
	width: 100%;
}
.carousel-item { height: 100%; }
.carousel-inner img { height: 380px; }

/* BUTTONS */

.btn-group {
	display: block;
	text-align: center;
	margin: 0 auto 1em;
}

.btn-red {
	width: 250px;
	border: 3px solid #ED1C22;
	color: #ED1C22;
	padding: 15px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	position: relative;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}
.btn-2 { width: 300px; }
.btn-3 { width: 425px; }

.btn-red:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

.btn-red:before {
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.btn-fx:after {
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	background: #ED1C22;
}

.btn-fx:hover, .btn-fx:active {	
	color: #ffffff; 
	text-decoration: none;
}
.btn-fx:hover:after, .btn-fx:active:after {	height: 100%; }

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
	.container { 
		margin: 0;
		min-width: 100%;
	}

	.btn-red {
		display: block;
		width: 100%;
		margin: 15px auto;
	}

	.impact-img-contain {
		width: 100%;
		height: auto;
		min-height: unset;
	}

	.impact-img {
		margin: inherit;
		width: 100%;
	}

	.carousel {
		padding-bottom: 100%;
		margin: 1em 0;
		height: 0;
		width: 100%;
	}
	.carousel-inner {
		max-height: 1000px !important;
		width: 100%;
	}
	.carousel-inner img {
		height: 100%; 
		width: 100%;
	}

	.hb-vid {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
		display: block;
	}
	.hb-vid iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}