section { 
    padding: 2em;
    font-family: 'Lato', sans-serif;
}

.res-h2 {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.res-h2:before, .res-h2:after {
    content: "";
    flex: 1;
    border-top: 7px double #ED1C22;
}
.res-h2:before { margin-right: .3em; }
.res-h2:after { margin-left: .3em; }

.res-tele {
    text-align: center;
    margin-bottom: 1em;
    font-weight: 800;
    font-size: 5em;
    text-transform: uppercase;
}

.res-phone {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    /* overflow: auto;
    margin: auto; */
    background-image: url("/assets/img/res-phone-hug2.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}

.res-phone-layer {
    background-color: rgba(90, 0, 42, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* .res-img-contain { 
	margin: 0 auto 1em;
	max-height: 50vh;
	min-height: 300px;
	display: flex;
}
.res-img { 
	margin: inherit;
	object-fit: cover;
	overflow: auto;
} */


/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
    
}

@media (max-width: 992px) {
    /* Horizontal red lines change */
}