section {
    padding: 2em;
}

h1 {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
}

h1:before, h1:after {
    content: "";
    flex: 1;
    border-top: 7px double #ED1C22;
}
h1:before { margin-right: .3em; }
h1:after { margin-left: .3em; }

.color {
    background-color: #ccc;
}

.founder-pic, .founder-vid { 
    float: right; 
    clear: both;
    width: 33%;
    margin-left: 15px;
}
.founder-pic { clip-path: circle(50% at center); }
.founder-vid {
    width: 45%;
    height: 20vw;
    margin-top: 25px;
}

.board-group {
    display: inline-block;
}

.board-card {
    float: left;
    border: 2px solid black;
    margin: 15px;
    max-width: calc(25% - 2%);
}

.board-img, .board-img img {
    width: 100%;
}

.board-desc {
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .founder-pic, .founder-vid { 
        width: 100%;
    }
    .founder-vid {
        height: 384px;
    }
  }