section { 
    padding: 2em;
    font-family: 'Lato', sans-serif;
}

.about-h2 {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.about-h2:before, .about-h2:after {
    content: "";
    flex: 1;
    border-top: 7px double #ED1C22;
}
.about-h2:before { margin-right: .3em; }
.about-h2:after { margin-left: .3em; }

.founder-pic, .founder-vid { 
    float: right; 
    clear: both;
    width: 33%;
    margin-left: 15px;
}

.founder-pic { clip-path: circle(50% at center); }
.founder-vid {
    width: 45%;
    height: 20vw;
    margin-top: 25px;
}

/* BOARD MEMBERS */

.board-img { width: 100%; }
.board-name {
    color: #ED1C22;
    text-transform: uppercase;
    font-size: 1.1em;
    font-family: 'Roboto Condensed', sans-serif;
}

.board-title {
    font-style: italic;
    font-size: .9em;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.about-card-body { padding: 1rem; }
.about-card  { border: none; }


/* MEDIA QUERIES */

@media only screen and (max-width: 767px) {
    .founder-pic, .founder-vid { width: 100%; }
    .founder-vid { height: 384px; }
}

@media (max-width: 992px) {
    /* Horizontal red lines change */
}

@media (min-width: 576px) { .about-card  { max-width: 45%; } }
@media (min-width: 768px) { .about-card  { max-width: 29.2%; } }
@media (min-width: 992px) { .about-card  { max-width: 22%; } }
@media (min-width: 1200px) { .about-card  { max-width: 17.4%; } }