li a {
    position: relative;
	display: inline-block;
	color: #000000!important;
	text-transform: uppercase;
	letter-spacing: 1px;
}

nav a:hover,
nav a:focus {
	outline: none;
}

.navbar-nav {
    color: #ffffff;
	text-shadow: none;
	padding: 10px 0;
}

.navbar-nav a::before {
    color: #ffffff;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	pointer-events: none;
}

.navbar-nav a::after {
    content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #ffffff;
	opacity: 0;
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	transform: translateY(5px);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	pointer-events: none;
}

.navbar-nav a:hover::before,
.navbar-nav a:focus::before {
	opacity: 0;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	transform: translateY(-2px);
}

.navbar-nav a:hover::after,
.navbar-nav a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}