.circleTable {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: 5C00BA;
    color: red;
}

.circle2 {
    box-shadow: 3px 4px 15px #B40202;
}

.venueBox {
    box-shadow: 0px 0px 8px black;
    margin: auto;
    margin-top: 25px;
    height: 300px;
    width: 500px;
    border: 1px solid black;
}

.stage {
    box-shadow: 0px 0px 8px black;
    border: 2px solid black;
    text-align: center;
}
