body { font-family: sans-serif; }

.container {
  padding: 10px;
  border: 2px solid #F90;
  height: 200px;
}

.draggable {
  width: 140px;
  height: 140px;
  background: #F90;
  border-radius: 10px;
  margin: 0 10px 10px 0;
  float: left;
}
.draggable.is-pointer-down {
  background: #09F;
  z-index: 2; /* above other draggies */
}
.draggable.is-dragging { opacity: 0.7; }
