.btn {
    margin: 20px;
}

.carousel-inner {
    max-height: 350px;
}

.carousel-caption {
    position: absolute;
    top: 50px;
}

.inputCaption {
    top: 10px;
}

.editVenueOption {
    position: absolute;
    top: 225px;
    left: 40%;
}

