.btn {
    margin: 20px;
}

.carousel-caption {
    position: absolute;
    top: 15px;
}

.inputCaption {
    top: 10px;
}

.editVenueOption {
    position: absolute;
    top: 225px;
    left: 40%;
}

.carousel-item {
    height: 775px;
}

.d-block {
    width: 500px;
    height: 100%;
}