.footer-breathing-room {
    padding: 4em 0 1em;
    margin-top: 2em;
}

.footer-breathing-room .row {
    margin-bottom: 2em;
}

.footer-img-breathing-room {
    margin: 0 15px;
    height: 100%;
    max-height: max-content;
}

.nav-item {
    padding: 0 3px;
}

.main-link-normal {
    line-height: 1.8em;
}

.footer-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    font-weight: 800;
    letter-spacing: 2px;
}

.footer-members { height: 60px; }

.footer-tiny-text { font-size: .9em; }