.main-cat1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 615px;
    overflow: auto;
    margin: auto;
    background-image: url("/assets/img/main-help2.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    flex-direction: column;
}
.main-cat2 {
    background-size: cover;
    background-position: center;
    height: 615px;
    overflow: auto;
    margin: auto;
    background-image: url("/assets/img/main-help.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    flex-direction: column;
}

.main-flood {
    background-size: cover;
    background-position: center;
    height: 400px;
    overflow: auto;
    margin: auto;
    background-image: url("/assets/img/main-HB-2290-Group-Photo.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-header {
    color: white;
    animation-delay: 200ms;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 5em;
    text-shadow: 0px 0px 25px #000000;
    font-weight: 800;
    z-index: 10;
}
#subheadHeader {
    color: white;
    animation-delay: 500ms;
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-shadow: 0px 0px 15px #000000;
    font-size: 1.5em;
    font-weight: 500;
}

.main-card {
    margin-top: 1rem;
}

.tonya-tint {
    opacity: 0;
    background: #000;
}

.tonyaMain {
    background-size: cover;
    background-position: top;
    background-image: url("/assets/img/TonyaStaffordCol.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    flex-direction: column;
}

.tonyaMain:hover {
    opacity: .5;
}

.main-card-header {
    font-family: 'Lato', sans-serif;
}
.main-card-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
}
 .little-breathing-room {
    padding: 4rem 0;
    margin-top: 2em !important;
 }
.main-icons {
    color: #fff;
}
.main-icon-title {
    padding-top: .5rem;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 3em;
    font-weight: 800;
}
.main-icon-subhead {
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
}
.main-card-title {
    padding-top: .5rem;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 2em;
    font-weight: 800;
}
.main-card-runningCopy {
    color: white;
    font-family: 'Lato', sans-serif;
    /* text-align: center; */
    font-size: 1em;
    font-weight: 500;
}

.row {
    margin: 0 -15px 1em;
}